@import url("./style.css");

section {
  margin-bottom: 26px;
}

section:last-of-type {
  margin-bottom: 0;
}

.app-title {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.6rem;
  font-weight: 700;
}

.app-title span {
  font-size: 1.8rem;
}

.meta {
  font-size: 1rem;
  opacity: 0.85;
}

.developer-card {
  background: rgba(255, 255, 255, 0.04);
  border-radius: 14px;
  padding: 16px 18px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
}

.developer-name {
  font-weight: 600;
  font-size: 1rem;
}

.developer-name span {
  font-size: 0.95rem;
}

.links {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 8px;
  font-size: 0.85rem;
}

.footer-text {
  font-size: 0.85rem;
  text-align: center;
  position: absolute;
  bottom: 40px;
  /* Removing body padding */
  width: calc(100% - 48px);
  margin: 0 auto;
}
